html, body { height: 100%; background-color: #2C2F33; color: white; }
.data-display { padding-right: 0; padding-bottom: 0; background-color: #232425; position: relative; }
.info-footer { width: 100%; position: absolute; bottom: 0; background-color: #23272A; padding: 1em; text-align: center; border-top: 1px solid #99AAB5; overflow: hidden; }
.info-footer p { font-size: 1rem; }
.info-footer a:hover { color: white; }
.navbar { width: 100%; background-color: #23272A; padding: 1em; text-align: center; border-top: 1px solid #99AAB5;}
.chat { padding: 0;}
.chat-box { height: 5%; width: 100%; }
::-webkit-scrollbar { display: none; }